    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script language="javascript" type="text/javascript">
	responsive_iframes();
	</script>

</body>
</html>