<footer class="footer_nix">
    <div class="subscribe_nix"><a href="{{@blog.url}}/rss/" title="Subscribe!"><i class="nix_icon-rss"></i></a></div>
    <div class="footertext_nix">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
    <div class="footertext_nix">Proudly published with <a class="icon-ghost" href="http://tryghost.org">Ghost</a></div>
</footer>