<div class="subwrap_nix">
<div class="subtop_nix"></div>
<footer class="post_footer_nix">
{{#if author}}
<address itemscope itemtype="http://data-vocabulary.org/Person">
<h4 class="nix_author"><i class="nix_icon-user"></i><span itemprop="author">{{author.name}}</span></h4>
</address>
<div class="author_nix">
<p>{{author.bio}}</p>
</div>
{{/if}}
</footer>
</div>