<div class="postsarea_nix">

	{{#post}}

		<div class="postwrap_nix">

			<div class="posttop_nix nixclear">{{> postinfo}}</div>

				<article class="article_nix" role="article" itemscope itemtype="http://schema.org/Article">
						
					<div class="titlewrap_nix"><header role='banner' itemscope itemtype='http://schema.org/WPHeader'>
					
					<h1 class="posttitle_nix" itemprop="headline">{{{title}}}</h1>

					</header></div>

					<div class="postinner_nix" itemprop="articleBody">

						<div class="postbody_nix nixclear">

						{{{content}}}

						</div>

						{{> postinfotwo}}

					</div>

				</article>

			<div class="postbottom_nix"></div>

		</div>

	{{> post_footer}}

	{{/post}}

</div>